@charset "utf-8";
/* CSS Document */

/*
Author: Maria Castillo
Date: 23 October 2025
File Name: stylesheet.css
*/

/* Style rule for box sizing applies to all elements */


/* CSS Reset */

body, header, nav, main, footer, img, h2, ul, section, aside, figure, figcaption{
		margin: 0;
		padding: 0;
		border: 0;
		overflow: auto;
}

* {
box-sizing: border-box;
}	

/* Style rule for images */
img {
		max-width: 100%;
		display: block;
}


/* Style rules for mobile viewport*/


/* Hide tab-desk class*/

.tab-desk {
		display: none;
}

#menu-links {
	display: none;
}


figure {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		border: none;
}

/* Style rules for header content */

header h1 {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-style: normal;
	font-size: 2.5em;
}

h2 {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: .75em;
}

/* Style rules for navigation area */


nav {
	 border: 5px solid #000; 
	 background: #fff;
	 font-family: "Gabarito", sans-serif;
	 font-weight: 800;
	 font-style: normal;
	 width: 90%;
	 margin: auto;
}	

.mobile-nav a {
	color: #fff;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.menu-icon div {
	height: 50px;
	width: 50px;
	background-color: #04ADBF;
}


/*Style rules for main content */
main {
  border: 5px solid #000;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 25px;
  width: 90%;
  margin: auto;
}		

main p {
		font-size: .75em;
}


 p.backbutt, th {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: .5em;
}

 p.backbutt, a {
	color: #000;
}


main, body, table {
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}


body {
	background-color: #04ADBF;
}
			

		header {
		  border: 5px solid #000; 
		  padding-top: 10px;
		  padding-bottom: 10px;
		  background: #fff;
		  width: 90%;
		  margin: auto;
		}	
			
/* Modifies text segments listed */			

		p, h2, h1, h3 {
			text-align: center;
			color: #000;
			line-height: 1.8;
		}

		figcaption {
			text-align: center;
			color: #000;
			font-size: .3em;
			padding: 5px;
		}

/*div intro p only modifies the paragraph on the intro page div class intro and all p elements*/
		div.intro p{
			text-align: center;
		}
		
/* Modifies all images to look the same */			
			
		img {
			  border: 5px solid #000;
			  border-radius: 25px;
			  padding: 0px;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 10px;
			  display: block;
		}

		img.foodtable {
			  border: 5px solid #000;
			  border-radius: 25px;
			  padding: 0px;
			  width: 100%;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 10px;
			  display: block;
		}


					
/* Modifies the DIV layer sizes - intro is the text on left, mphoto is the right side bar */			
		.mainintro, .maincontainer {
			display: block;
			justify-content: center;
		}
		.intro, .blurb {
			margin: auto;
			width: 90%;
			padding: 0 20px;
		}
		.mphoto, .mariaphoto {
		    width: 90%;
		    overflow:auto;
			margin: auto;
			padding: 0 20px;
		}
		.responsivemaria {
		    width: 100%;
		    max-width: 400px;
		    height: auto;
		    border: 5px solid #000;
		    border-radius: 25px;
		    padding: 0px;	
		}		
			
/* Modify Navigation */		
		

			
		nav li {
			display: inline-block;
			border-top: none;
			font-size: 1em;
			padding: 0px;
			text-align: center; 			
		}	
			
		nav li a {
			display: block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 0px .3em; 
		}
			
		nav ul {
			list-style-type: none;
			text-align: center;
			display: flex;
 			justify-content: center; 
		}

		nav ul li a:hover {
  			background-color: #111111;
			color: #fff;
		}

		.navcontainer {
		  display: flex;
		  flex-wrap: wrap;
		  list-style: none;
		  margin: 0;
		  padding: 0;
		}
/* Modifies main body content */			
			
	
			
/* Modifies the footer area. */			
			
		footer {
		  border: 5px solid #000; 
		  background: #fff;
		  padding-bottom: 10px;
		  padding-top: 10px;
		  font-family: "Newsreader", serif;
		  font-weight: 400;
		  font-style: normal;
		  font-size: .5em;
		  width: 90%;
		  margin: auto;
		}

		footer a {
			color: #000;
		}

			

/* div style for photo html page */


.photothumb {
	width: 90%;
	overflow: auto;
	margin: auto;
}


img.thumb img {
	margin: auto;
}
img.footicon {
	margin: auto;
	width: 50px;
	border: 0;
	display: inline-block;
	padding: 0 10px;
	
}

/* div style for about me and sidebar photos */

		div.blurb p {
			text-align: left;
			text-indent: 50px;
			line-height: 1.8;
		}

		.responsiveimg {
		  width: 100%;
		  max-width: 400px;
		  height: auto;
		  border: 5px solid #000;
		  border-radius: 25px;
		  padding: 0px;	
		}		




/* Form Style */			
input[type=text], input[type=email], input[type=tel], textarea  {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 5px;
	resize: none;
}	
.form-grid {
	  border: 5px solid;
	  padding: 5px 20px; 
	  width: 90%;
	  overflow: auto;
	  margin: auto;
	  background: #FFF;
	  resize: none;
}
fieldset {
	border: none;
	background: #FFF;
}
 input[type=submit], input[type=reset] {
	  background-color: #F2A30F;
	  border: 2px solid #000;
	  color: white;
	  padding: 15px 35px;
	  text-decoration: none;
	  margin: 5px 37%;
	  cursor: pointer;
	  border-radius: 10px;
}


/* Photo table design page*/
table, th, td {
  border: 5px solid white;
  border-collapse: collapse;
  text-align: center;
	margin: auto;
	padding: 10px 25px;
}
th {
  background-color: #BBDA45;
}
td {
  background-color: #E1F2BD;
}		


/* Media Query for Tablet Viewport */

@media screen and (min-width: 550px), print {
	
/*Tablet Viewport: Show tab-desk class, hide mobile class */

		.tab-desk {
				display: block;
		}

		.mobile {
				display: none;
		}

		.mobile-nav {
			display: none;
		}
	
	header h1 {
		font-size: 3em
	}
	
main, body, table {

  font-size: 1.2em;
	}	

main h2 {

	font-size: 1.5em;
	}	
	
main p {
		font-size: .75em;
	}
	
figcaption {
	font-size: .6em;
	padding: 5px;
	}	
	
p.backbutt, th {
	font-size: .75em;
	}
	
	.mainintro, .maincontainer {
		display: block;
		justify-content: center;
	}
	.intro, .blurb {
		margin: auto;
		width: 90%;
		padding: 0 20px;
		overflow: auto;
	}
	.mphoto {
		width: 90%;
		overflow:auto;
		margin: auto;
		padding: 0 20px;
		display: block;
	}
	.mariaphoto {
		width: 33.333%;
		margin: auto;
		float: left;
		padding: 0 20px;
	}
	.responsivemaria {
		width: 100%;
		max-width: 400px;
		height: auto;
		border: 5px solid #000;
		border-radius: 25px;
		padding: 0px;	
	}		

	
	
	img {
		  border: 5px solid #000;
		  border-radius: 25px;
		  padding: 0px;
		  width: 90%;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 10px;
		  display: block;
	}

	img.foodtable {
		  border: 5px solid #000;
		  border-radius: 25px;
		  padding: 0px;
		  width: 100%;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 10px;
		  display: block;
	}	
	
		nav li {
			display: inline-block;
			border-top: none;
			font-size: 1em;
			padding: 0px;
			text-align: center; 			
		}	
			
		nav li a {
			display: block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 0px .3em; 
		}	
	
	
		footer {
		  border: 5px solid #000; 
		  background: #fff;
		  padding-bottom: 20px;
		  padding-top: 20px;
		  font-family: "Newsreader", serif;
		  font-weight: 400;
		  font-style: normal;
		  font-size: .75em;
		  width: 90%;
		  margin: auto;
		}

/* Form Style */			
input[type=text], input[type=email], input[type=tel], textarea  {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 5px;
	resize: none;
}	
.form-grid {
	  border: 5px solid;
	  padding: 5px 20px; 
	  width: 90%;
	  overflow: auto;
	  margin: auto;
	  background: #FFF;
	  resize: none;
}
fieldset {
	border: none;
	background: #FFF;
}
 input[type=submit], input[type=reset] {
	  background-color: #F2A30F;
	  border: 2px solid #000;
	  color: white;
	  padding: 15px 35px;
	  text-decoration: none;
	  margin: 5px 37%;
	  cursor: pointer;
	  border-radius: 10px;
}	
	
}


/* Media Query for Desktop Viewport */
@media only screen and (min-width: 769px) {
	/* Desktop Viewport: Style rule for header */

header h1 {
	font-size: 5em
	}
	
main, body, table {

  font-size: 1.2em;
	}	
	
main h2 {

	font-size: 2em;
	}
	
main p {
		font-size: 1em;
	}
	
figcaption {
	font-size: .5em;
	}	
	
 p.backbutt, th {
	font-size: 1em;
	}	
	
	.mainintro, .maincontainer {
		display: flex;
		justify-content: center;
	}
	.intro, .blurb {
		float: left;
		width: 60%;
		padding: 0 20px;
		overflow: auto;
	}
	.mphoto, .mariaphoto {
		width: 30%;
		padding: 0 20px;
		display: inline;
	}
	
	
	
	.responsivemaria {
		width: 100%;
		max-width: 400px;
		height: auto;
		border: 5px solid #000;
		border-radius: 25px;
		padding: 0px;	
	}

	img {
		  border: 5px solid #000;
		  border-radius: 25px;
		  padding: 0px;
		  width: 200px;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 10px;
		  display: block;
	}

	img.foodtable {
		  width: 500px;
	}	
	
	nav li {
		font-size: 2em;
		padding: 0px;			
	}
	
	nav li a {
		padding: 0 1em; 
	}	
	
	
		footer {
		  font-size: 1em;
		  width: 90%;
		}

	/* Form Style */			
input[type=text], input[type=email], input[type=tel], textarea  {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 5px;
	resize: none;
}	
.form-grid {
	  border: 5px solid;
	  padding: 5px 20px; 
	  width: 50%;
	  overflow: auto;
	  margin: auto;
	  background: #FFF;
	  resize: none;
}
fieldset {
	border: none;
	background: #FFF;
}
 input[type=submit], input[type=reset] {
	  background-color: #F2A30F;
	  border: 2px solid #000;
	  color: white;
	  padding: 15px 35px;
	  text-decoration: none;
	  margin: 5px 37%;
	  cursor: pointer;
	  border-radius: 10px;
	}
	
		header {
		  padding-top: 25px;
		  padding-bottom: 25px;
		}		
/* Modifies the footer area. */			
			
		footer {
		  padding-bottom: 25px;
		  padding-top: 25px;
		  font-size: 1em;
		  width: 90%;
		}

/* div style for photo html page */
		div.photothumb {
		  width:100%;
		  overflow:auto;
		}

		div.photothumb div{
		  width:33.333%;  
		  margin: auto;
		  float: left;
		}
		.phothumb {
		    width: 75%;
		    max-width: 400px;
		    height: auto;
		    border: 5px solid #000;
		    border-radius: 25px;
		    padding: 0px;	
		}	
	
}
	

/* Media Query for Print */
@media print {

 body {
    background-color: #fff;
    color: #000;
	}
}
